:root {
    --color-pink: #fd79a8;
    --color-white: #fff;
    --color-darkwhite: #eee;

    --primary-color: #2294e3;

    --border-color: 1px solid #dadce0;
    --border-active: 2px solid #f78fb3;

}