:root {
    --color-pink: #2980b9;
    --color-white: #fff;
    --color-darkwhite: #eee;

    --primary-color: #2980b9;

    --border-color: 1px solid #dadce0;
    --border-active: 2px solid #2980b9;

}